* {
    box-sizing: border-box;
}

a {
    text-decoration: none;

}


body {
    width: 100vw;
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.w-100 {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
}

.nav {
    background-color: #fff;
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.ham-label {
    display: none;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    position: relative;
}

.line {
    background-color: rgb(120, 120, 120);
    width: 50%;
    height: 2px;
    /* margin-bottom: 10px; */
    position: absolute;
    left: 50%;
    top: 50;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.line-1 {
    top: 35%;
}

.line-2 {
    top: 50%;
}

.line-3 {
    top: 65%;
}

#ham-switch {
    display: none;
}

#ham-switch:checked+label .line-1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#ham-switch:checked+label .line-2 {
    display: none;
}

#ham-switch:checked+label .line-3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

}

#ham-switch:checked~.btn {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: lightgrey;
    padding: 20px;
    z-index: 100;
}

.btn {
    display: flex;
    font-size: 18px;
    gap: 10px;
    height: auto;
    color: #6a6868;
    margin-left: 10px;
    font-size: 14px;

}

.btn a {
    color: #6a6868;
}


@media (max-width: 1200px) {
    .banner {
        width: 100%;
    }
}

.btn:hover,
h6:hover {
    text-decoration: underline;
}

.nav i:active {
    color: red;
}

.btn a:focus,.base.h7:focus
h6 a:focus {
    color: #000000;
    outline: 2px dashed rgb(85, 85, 85);
    outline-offset: 5px;
}


h6 {
    color: #6a6868;
    display: inline-block;
    margin-top: auto 50px;
    padding: 16px 8px;
    font-size: 14px;
}

.logo {
    height: 100%;
    width: 100px;
    margin: 0 20px 0;
    background-size: contain;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;

}


.nav-right {
    display: inline-flex;
    position: absolute;
    right: 20px;
    color: black;
    font-size: 10px;
}

.nav-right a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    color: inherit;
}

.nav-right i {
    font-size: 16px;
    color: inherit;
}

.banner {
    background-color: aqua;
    width: 100%;
    max-width: 1905px;
    height: 600px;
    margin: auto;
    position: relative;
}


.banner-text {
    width: 550px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

.banner-2 .banner-text {
    background-color: white;
    width: 500px;
}

.header {
    width: 90%;
    display: flex;
    margin: auto;
}

.five {
    width: 100%;
    height: 60px;
}

section.three-choice {
    width: 90%;
    height: 30vh;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 50px;
    text-align: center;

}

section.three-choice .one-choice {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    cursor: pointer;

}

section.three-choice .one-choice .img {
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: antiquewhite;
    background-image: url(../img/choice.svg);
}

section.three-choice .one-choice .text {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    color: #0067b8;
    word-wrap: break-word;
    text-decoration: underline;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.four-card {
    min-height: 200px;
    width: 90%;
    padding: 10px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #CCC;
    align-content: space-between;
    width: calc((90% - 60px/3));
}

.card-img {
    background-image: url(../img/card-1.png);
    width: 100%;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 32px;
    line-height: 1;
    margin: 20px 10px 10px 30px;
}

h2 {
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;

    font-weight: 400;
    line-height: 2;
    margin: 30px;
    margin-top: 0;
}

.card-btn {
    width: 100px;
    height: auto;
    background-color: #0067B8;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 30px;
    margin-top: 0;

    cursor: pointer;
}

.banner-2 {
    width: 90%;
    height: 60vh;
    position: relative;
}

.banner-1 .banner-text {
    width: 500px;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    top: 100px;
    left: 100px;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.banner-text h1 {
    margin: 40px 30px 30px;
    font-size: 40px;
}

.banner-text h2 {
    margin: 0px 30px 30px;
    line-height: 1.4;
}

.footer {
    width: 90%;
    margin: 0px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.b-3-card {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.footer-1 {
    text-align: left;
    display: flex;
}

.footer-1 img {
    width: 32px;
    margin-left: 10px;
}

.gotop {
    background-color: #CCC;
    width: auto;
    padding: 5px;
    display: block;
    margin: 0 20px 0 auto;

    font-size: 20px;
    font-family: MWF-FLUENT-ICONS;
    font-weight: 600;
    line-height: 1;
}

span {
    background-color: #CCC;
    font-size: 22px;
    font-family: MWF-FLUENT-ICONS;
}

.footer-grey {
    width: 100vw;
    height: auto;
    background-color: #f2f2f2;
    padding: 0 10%;
    display: flex;
}

.li-block {
    // background-color: pink;
    width: 20%;
    height: 90%;
    display: block;
    padding: 10px;

}

ul {
    text-align: left;
    font-size: 20px;
}

li {
    font-size: 16px;
    list-style: none;
    text-align: left;
    margin-bottom: 10px;

    cursor: pointer;
}

h3 {
    font-size: 20px;
}

.base {
    width: 100vw;
    background-color: #f2f2f2;
    display: flex;
    font-size: 16px;
    width: auto;
    position: relative;
    padding: 10px 20px;


}

.base-1 {
    margin: 0 auto 0 5%;
    width: auto;
    display: flex;
    gap: 30px;
}

.base-2 {
    display: flex;
    margin-left: auto;
    gap: 30px;
    margin: 0 5% 10px auto;
}

.base-1 a,
.base-2 a {
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-size: 14px;
}

.base-1 a:hover {
    text-decoration: underline;
}

.base-2 a:focus {
    outline: dashed black 2px;
    outline-offset: 5px;

}



.nav-right i {
    font-size: 18px;
    color: #6a6868;
}

@media (max-width: 1200px) {
    .banner {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .ham-label {
        display: block;
        cursor: pointer;
    }

    .four-card {
        width: 100%;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;

    }

    .banner-1.banner-text {
        background-color: white;
        width: 90%;
        height: 300px;
        top: 90%;
        left: 50%;
        transform: translate(-50%);
    }

    .five {
        height: 300px;
    }


    .card {
        width: calc((100% - 30px)/2);
    }


    .footer {
        width: 100%;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .btn {
        display: none;
        margin: 0;
    }

    .btn div {
        height: 30px;
        font-size: 16px;
        border-bottom: #d8d3ce 1px solid;

    }

    .btn:hover {
        text-decoration: none;
    }

    .nav-right {
        display: flex;
        position: absolute;
        right: 15px;
    }

    .nav-right h6 {
        display: none;
    }

    .nav-right i {
        font-size: 18px;
        display: inline-block;
        margin-left: 20px;
    }

    #ham-switch:checked~.btn {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #f2f2f2;
        z-index: 999;
    }

}

@media (max-width: 860px) {
    .h6-all-right h6 {
        display: none;
    }

    .footer-grey {
        width: 100%;
        background-color: #f2f2f2;
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-1 {
        margin-left: 10px;
    }

    .li-block {
        width: 40%;
    }

    .base {
        flex-direction: column;
        justify-items: left;
        margin: 0;
    }

    .base-1 {
        margin: 0;
        flex-direction: column;
        gap: 10px;
    }

    .base-2 {
        margin: 0 0 5px 0;
        flex-wrap: wrap;
        line-height: 0.2;
    }

    .three-choice {
        flex-wrap: wrap;

    }
}


@media (max-width: 570px) {
    .fa-solid {
        display: none;
    }

    .banner-1.banner-text {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 400px;
        top: 100%;
    }

    .banner-2 .banner-text{
        position: absolute;
        left: 10px;
        top: 130%;
    }

    .five {
        height: 400px;
    }

    .three-choice .one-choice {
        width: 50%;
    }

    .card {
        width: 100%;
    }

    .li-block {
        width: 50%;
    }
}